<link rel="apple-touch-icon" sizes="180x180" href="{{ "icons/apple-icon-180x180.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ "icons/android-icon-192x192.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ "icons/favicon-32x32.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="96x96" href="{{ "icons/favicon-96x96.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ "icons/favicon-16x16.png" | relURL }}" />
<link rel="manifest" href="{{ "icons/manifest.json" | relURL }}" />
<meta name="theme-color" content="#ffffff" />
