# Ignore MacOS system files
.DS_Store

# Ignore node modules
node_modules/

# Ignore package lock files
package-lock.json

# Ignore package.json
package.json

images/users/gundurraga/compress/

js/utils

allPaintings.html

project-root/